{% load static %}

<!DOCTYPE html>
<html>

<head>

<title>My Store</title>

<link rel="stylesheet"
      href="{% static 'style.css' %}">

</head>

<body>

<nav>

    <a href="/">🏠 Home</a>

    <a href="/cart/">🛒 Cart</a>

    {% if user.is_authenticated %}

        <span class="username">
            👋 {{ user.username }}
        </span>

        <a href="/logout/">Logout</a>

    {% else %}

        <a href="/login/">Login</a>

        <a href="/register/">Register</a>

    {% endif %}

</nav>

<div class="hero">

    <h1>🛒 My E-Commerce Store</h1>

    <p>
        Best Products At Affordable Prices
    </p>

</div>

<div class="container">

    <div class="products">

        {% for product in products %}

        <div class="card">

            <img src="{{ product.image }}">

            <h2>{{ product.name }}</h2>

            <p>{{ product.description }}</p>

            <h3>₹{{ product.price }}</h3>

            <a class="btn"
               href="/product/{{ product.id }}/">

                View Details

            </a>

        </div>

        {% endfor %}

    </div>

</div>

<footer>

    © 2026 My E-Commerce Store

</footer>

</body>
</html>