{% load static %}

<!DOCTYPE html>
<html>

<head>

    <title>Login</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>

<nav>

    <a href="/">🏠 Home</a>

    <a href="/register/">Register</a>

</nav>

<div class="container">

    <div class="card login-card">

        <h1>🔐 Login</h1>

        <p class="subtitle">
            Welcome Back! Login to continue shopping.
        </p>

        <form method="POST">

            {% csrf_token %}

            <label>Username</label>

            <input
                type="text"
                name="username"
                placeholder="Enter Username"
                required
            >

            <label>Password</label>

            <input
                type="password"
                name="password"
                placeholder="Enter Password"
                required
            >

            <button class="btn" type="submit">

                Login

            </button>

        </form>

        <p class="bottom-text">

            Don't have an account?

            <a href="/register/">

                Register Here

            </a>

        </p>

    </div>

</div>

<footer>

    © 2026 My E-Commerce Store

</footer>

</body>

</html>