{% load static %}

<!DOCTYPE html>
<html>

<head>

    <title>Register</title>

    <link rel="stylesheet"
          href="{% static 'style.css' %}">

</head>

<body>

<nav>

    <a href="/">🏠 Home</a>

    <a href="/login/">Login</a>

</nav>

<div class="container">

    <div class="card login-card">

        <h1>📝 Create Account</h1>

        <p class="subtitle">
            Register to start shopping.
        </p>

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button class="btn"
                    type="submit">

                Register

            </button>

        </form>

        <p class="bottom-text">

            Already have an account?

            <a href="/login/">

                Login Here

            </a>

        </p>

    </div>

</div>

<footer>

    © 2026 My E-Commerce Store

</footer>

</body>

</html>